body {
    background: url('images/desktop/image-hero.jpg');
    padding: 100px;
}

img {
    background:;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header {
   color: white;
}

.box-1 {
    
    flex-grow: 1;
}

.box-2 {
    border: 1px solid black;
}

.box-3 {
    border: 1px solid black;
}

.box-4 {
    border: 1px solid black;
}

.box-5 {
    border: 1px solid black;
}

p {
    color: white !important;
}