body {
    background: url('images/desktop/image-hero.jpg');
}

img {
    background: black;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header {
   
}

.box-1 {
    border: 1px solid black;
    flex-grow: 1;
}

.box-2 {
    border: 1px solid black;
}

.box-3 {
    border: 1px solid black;
}

.box-4 {
    border: 1px solid black;
}

.box-5 {
    border: 1px solid black;
}